asgiref==3.5.2
beautifulsoup4==4.8.1
Django==4.1.2
django-adminlte3==0.1.6
django-bootstrap4==1.1.0
django-crispy-forms==1.14.0
django-phonenumber-field==7.0.0
django-phonenumbers==1.0.1
phonenumbers==8.12.56
pytz==2019.3
soupsieve==1.9.5
sqlparse==0.3.0
tzdata==2022.4
