<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <header>

        <h1>Weheite</h1>
        <a class="a3" href="reply_form/ ">Responder</a> <a class="a2" href="{% url 'home' %} ">Home</a>
    </header>
</head>

<body>
    <p>{{forum.autor}}</p>
    <p>{{forum.title}}</p>
    <p>{{forum.body}}</p>
    <h3>RESPOSTAS</h3>
    {% for reply in replys %}
    <p>{{reply.autor}}</p>
    <p>{{reply.body}}</p>
    <p>{{reply.likes}}</p>
    <p></p>
    <form action="{% url 'like' forum_id=forum.id %}" method='POST' class="ui form">
        {% csrf_token %}
        <input type='hidden' name='reply_id' value="{{reply.id}}" />
        <input type='hidden' name='user' value="{{user}}" />
            {% if user not in reply.liked.all %} 
                <button class="ui button positive" type="submit">Like</button>
            {% else %}
                <button class="ui button negative" type="submit">Unlike</button>
            {% endif %}
    </form>
    <strong>{{ reply.liked.all.count }} likes</strong>
    {% endfor %}
</body>

</html>