{% extends 'users/base.html' %}

{% block style %}
<style>
    * {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body {
        background-color: rgb(197, 193, 193);
        display: flex;
        justify-items: center;
    }

    .main-content{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-size: 100px;
    }

    input {
        font-size: 18px;
        background: none;
        display: flex;
        width: 400px;
        height: 30px;
        border-radius: 5px;
    }

    button {
        background-color: lightcoral;
        height: fit-content;
        width: fit-content;
        padding: 6px;
        color: #fff;
        font-weight: bolder;
        text-decoration: none;
        border: none;
        border-radius: 8px;
        align-self: center;
    }

    a {
        background: none;
        color: black;
        font-size: 18px;
        text-justify: start;
        margin-right: 160px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .signup-buttons {
        width: 400px;
        display: flex;
        justify-content: start;
    }

    #id_professor {
        background: red;
        color: red;
    }


</style>
{% endblock style %}

{% block content %}
<div class = "main-content">
    <h3 style="text-align: center;">Sign Up</h3>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                <small style="color: rgb(99, 92, 92)">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <div class="signup-buttons">
            <a href="{% url 'home' %} "><i class="fa-solid fa-arrow-left"></i></a>
            <button type="submit">Criar conta</button>
        </div>
    </form>
</div>
{% endblock content%}